@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    background: linear-gradient(to right,#64278f,#fb0066);
}
img{
    margin-left: 10%;
}
.calculator {
 padding: 10px;
 border-radius: 1em;
 height: 400px;
 width: 420px;
 margin: auto;
 background-color: #191b28;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
 font-family: 'Orbitron', sans-serif;
 font-size: 25px;
 background-color: #dcdbe1;
 border: solid black 0.5px;
 color: black;
 border-radius: 5px;
 width: 100%;
 height: 65%;
}
.button {
 font-family: 'Orbitron', sans-serif;
 background-color: #64278f;
 color: white;
 border: solid black 0.5px;
 font-size: 20px;
 width: 100%;
 border-radius: 5px;
 height: 70%;
 outline: none;
}